Series is very similar to NumPy array, only difference is that a series can have axis labels

In [1]:
import numpy as np
import pandas as pd

In [3]:
#help(pd.Series)

In [4]:
myindex = ['USA','Mexico','Canada']
mydata = [1776,1821,1867]

In [5]:
pd.Series(data=mydata)

0    1776
1    1821
2    1867
dtype: int64

In [15]:
myser = pd.Series(index=myindex,data=mydata)
myser

USA       1776
Mexico    1821
Canada    1867
dtype: int64

In [13]:
type(myser)

pandas.core.series.Series

In [14]:
age = np.random.randint(0,80,4)
age

array([35, 67, 77, 15])

In [10]:
names = ['aditya', 'arul', 'bhavya', 'amrita']

In [18]:
myser1 = pd.Series(names,age)

In [20]:
myser1[67]

'arul'

In [21]:
myser['Mexico']

1821

## From a Dictionary

In [22]:
country = {'USA':1776,'Canada':1867,'Mexico':1821}
country

{'USA': 1776, 'Canada': 1867, 'Mexico': 1821}

In [23]:
pd.Series(country)

USA       1776
Canada    1867
Mexico    1821
dtype: int64

## Key Ideas

In [24]:
q1 = {'China':450,'India':400,'USA':250,'Japan':100}
q2 ={'China':480,'India':450,'USA':260,'Brazil':80}

In [25]:
q1_ser = pd.Series(q1)
q2_ser = pd.Series(q2)

In [28]:
q1_ser/2

China    225.0
India    200.0
USA      125.0
Japan     50.0
dtype: float64

In [29]:
q1_ser+q2_ser

Brazil      NaN
China     930.0
India     850.0
Japan       NaN
USA       510.0
dtype: float64

In [30]:
q1_ser.add(q2_ser,fill_value=1000)

Brazil    1080.0
China      930.0
India      850.0
Japan     1100.0
USA        510.0
dtype: float64