In [1]:
#for item in object:
#    statements to do stuff

In [3]:
#example1
lst1 = [1,2,3,4,5,6,7,8,9,10]
for x in lst1:
    print(x**2)

1
4
9
16
25
36
49
64
81
100

In [5]:
#example2
for x in lst1:
    if x%2 == 0:
        print(x)
    else: print('Odd number')

Odd number
2
Odd number
4
Odd number
6
Odd number
8
Odd number
10

In [7]:
lst1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
#example3
sum1 = 0
for num in lst1:
    sum1 = sum1+num

print(sum1)

55

In [11]:
#example4 
tup = (1,2,3,4,5)
for t in tup:
    print(t**3)

1
8
27
64
125

In [12]:
#example5
lst2 = [(2,4),(6,8),(4,5)]
for tup in lst2:
    print(tup)

(2, 4)
(6, 8)
(4, 5)

In [14]:
#Tuple Unpacking
for (t1,t2) in lst2:
    print(t1+t2)

6
14
9

In [16]:
#example6

d = {'k1':1,'k2':2,'k3':3}

for item in d:
    print(item)

k1
k2
k3

In [17]:
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [18]:
#dictionary unpacking

for k,v in d.items():
    print(k)
    print(v)

k1
1
k2
2
k3
3

In [19]:
st = 'Print every word in this sentence that has an even number of letters'
for word in st.split():
    if len(word)%2 == 0:
        print(word)

word
in
this
sentence
that
an
even
number
of