## Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('911.csv')

In [3]:
df.shape

(99492, 9)

In [4]:
df.head()

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:40:00,NEW HANOVER,REINDEER CT & DEAD END,1
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:40:00,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 17:40:00,NORRISTOWN,HAWS AVE,1
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 17:40:01,NORRISTOWN,AIRY ST & SWEDE ST,1
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 17:40:01,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1

In [5]:
len(df)

99492

In [6]:
df.sample(10)

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
82072,40.154698,-75.139243,WELSH RD & COMPUTER AVE; UPPER MORELAND; 2016-...,19090.0,Traffic: VEHICLE ACCIDENT -,2016-07-11 16:01:02,UPPER MORELAND,WELSH RD & COMPUTER AVE,1
693,40.228899,-75.262461,WELSH RD & NORTH WALES RD; MONTGOMERY; 2015-12...,19454.0,Traffic: VEHICLE ACCIDENT -,2015-12-12 14:51:03,MONTGOMERY,WELSH RD & NORTH WALES RD,1
47834,40.037753,-75.317595,ITHAN AVE & POND LN; LOWER MERION; Station 31...,19010.0,EMS: ABDOMINAL PAINS,2016-04-11 12:57:00,LOWER MERION,ITHAN AVE & POND LN,1
8892,40.105108,-75.345184,DEKALB ST & RR UNDERPASS; BRIDGEPORT; Station...,NaN,EMS: VEHICLE ACCIDENT,2016-01-04 00:26:00,BRIDGEPORT,DEKALB ST & RR UNDERPASS,1
14474,40.002296,-75.238590,HIGHLAND CIR & N HIGHLAND AVE; LOWER MERION; ...,19004.0,EMS: MEDICAL ALERT ALARM,2016-01-17 16:27:00,LOWER MERION,HIGHLAND CIR & N HIGHLAND AVE,1
38325,40.159879,-75.134461,MARYLAND RD & COMPUTER AVE; UPPER MORELAND; S...,19090.0,EMS: SUBJECT IN PAIN,2016-03-16 12:37:00,UPPER MORELAND,MARYLAND RD & COMPUTER AVE,1
15797,40.102501,-75.291349,RAMP I476 NB TO CHEMICAL RD & CHEMICAL RD; PLY...,19462.0,Traffic: VEHICLE ACCIDENT -,2016-01-21 08:32:00,PLYMOUTH,RAMP I476 NB TO CHEMICAL RD & CHEMICAL RD,1
77061,40.008346,-75.293881,ARDMORE AVE & W ATHENS AVE; LOWER MERION; Sta...,19003.0,EMS: FALL VICTIM,2016-06-27 22:57:00,LOWER MERION,ARDMORE AVE & W ATHENS AVE,1
25472,40.078276,-75.249852,RIDGE PIKE & BARREN HILL RD; WHITEMARSH; Stat...,19444.0,EMS: NAUSEA/VOMITING,2016-02-12 08:02:01,WHITEMARSH,RIDGE PIKE & BARREN HILL RD,1
41527,40.135842,-75.166286,DRESHERTOWN RD & N LIMEKILN PIKE; UPPER DUBLIN...,19025.0,Traffic: VEHICLE ACCIDENT -,2016-03-25 16:42:01,UPPER DUBLIN,DRESHERTOWN RD & N LIMEKILN PIKE,1

In [7]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
99487    False
99488    False
99489    False
99490    False
99491    False
Length: 99492, dtype: bool

In [8]:
df = df.drop_duplicates()
df.shape

(99492, 9)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99492 entries, 0 to 99491
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   lat        99492 non-null  float64
 1   lng        99492 non-null  float64
 2   desc       99492 non-null  object
 3   zip        86637 non-null  float64
 4   title      99492 non-null  object
 5   timeStamp  99492 non-null  object
 6   twp        99449 non-null  object
 7   addr       98973 non-null  object
 8   e          99492 non-null  int64
dtypes: float64(3), int64(1), object(5)
memory usage: 6.8+ MB

In [10]:
#What are top 5 zipcodes with most number of 911 calls
df['zip'].value_counts().head(5)

zip
19401.0    6979
19464.0    6643
19403.0    4854
19446.0    4748
19406.0    3174
Name: count, dtype: int64

In [11]:
#how many unique title codes are there?
df['title'].nunique()

110

In [12]:
df['title'].str.split(':')

0             [EMS,  BACK PAINS/INJURY]
1            [EMS,  DIABETIC EMERGENCY]
2                [Fire,  GAS-ODOR/LEAK]
3             [EMS,  CARDIAC EMERGENCY]
4                     [EMS,  DIZZINESS]
                      ...
99487    [Traffic,  VEHICLE ACCIDENT -]
99488    [Traffic,  VEHICLE ACCIDENT -]
99489               [EMS,  FALL VICTIM]
99490           [EMS,  NAUSEA/VOMITING]
99491    [Traffic,  VEHICLE ACCIDENT -]
Name: title, Length: 99492, dtype: object

In [13]:
#Create a column 'reason' with reason of 911 calls
df['reason'] = df['title'].apply(lambda x: x.split(':')[0])

#apply

In [15]:
df['reason']

0            EMS
1            EMS
2           Fire
3            EMS
4            EMS
          ...
99487    Traffic
99488    Traffic
99489        EMS
99490        EMS
99491    Traffic
Name: reason, Length: 99492, dtype: object